// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.test{
    background: blue !important;
}

.btn.remove-outline:focus {
    outline: none;
    box-shadow: none;
}
.cursor-auto{
    cursor: auto;
}
.product-img-wrapper{
    width: 100% !important;
    height: 150px !important;
}
.product-img-wrapper img{
    max-width: 100%;
    max-height: 100%;
}
