// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons/font/bootstrap-icons';

.test{
    background: blue !important;
}

.btn.remove-outline:focus {
    outline: none;
    box-shadow: none;
}
.cursor-auto{
    cursor: auto;
}
.product-img-wrapper{
    width: 100% !important;
    height: 150px !important;
}
.product-img-wrapper img{
    max-width: 100%;
    max-height: 100%;
}

.zindex-10{
    z-index:10;
}

.product-card-body-wrapper {
    @extend .position-relative;
    padding-bottom: 70px !important;

    .product-price-wrapper {
        @extend .position-absolute;
        @extend .p-2;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
    }
}

.product-card {
    transition: all 0.1s ease-in-out;
    @extend .shadow-sm;
    &:hover {
        transform: scale(0.95);
        @extend .shadow;
        z-index: 1000;
    }
}
