// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.test{
    background: blue !important;
}

.btn.remove-outline:focus {
    outline: none;
    box-shadow: none;
}
.cursor-auto{
    cursor: auto;
}
